#
# /!\ Please maintain this file sorted alphabetically.
# check it with
# diff <(sed '/^#/d; /^$/d' .tool-versions | sort) <(sed '/^#/d; /^$/d' .tool-versions) && echo ".tool-versions is sorted correctly" || echo ".tool-versions is not sorted correctly"

awscli 2.17.0

golang 1.22.2

just 1.29.1

pre-commit 3.7.0

terraform 1.8.2

terraform-docs 0.18.0

tflint 0.51.1

tfsec 1.28.5
